USE [master]
GO
/****** Object:  Database [QLGIAOVU]    Script Date: 11/22/2022 10:36:07 AM ******/
CREATE DATABASE [QLGIAOVU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGIAOVU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLGIAOVU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGIAOVU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLGIAOVU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGIAOVU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGIAOVU]
GO
/****** Object:  Table [dbo].[DIEUKIEN]    Script Date: 11/22/2022 10:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEUKIEN](
	[MAMH] [varchar](10) NOT NULL,
	[MAMH_TRUOC] [varchar](10) NOT NULL,
 CONSTRAINT [PK_DIEUKIEN] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MAMH_TRUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGDAY]    Script Date: 11/22/2022 10:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGDAY](
	[MALOP] [char](3) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[MAGV] [char](4) NULL,
	[HOCKY] [tinyint] NULL,
	[NAM] [smallint] NULL,
	[TUNGAY] [smalldatetime] NULL,
	[DENNGAY] [smalldatetime] NULL,
 CONSTRAINT [PK_GIANGDAY] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 11/22/2022 10:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](4) NOT NULL,
	[HOTEN] [varchar](40) NULL,
	[HOCVI] [varchar](10) NULL,
	[HOCHAM] [varchar](10) NULL,
	[GIOITINH] [varchar](3) NULL,
	[NGSINH] [smalldatetime] NULL,
	[NGVL] [smalldatetime] NULL,
	[HESO] [numeric](4, 2) NULL,
	[MUCLUONG] [money] NULL,
	[MAKHOA] [varchar](4) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 11/22/2022 10:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[MAHV] [char](5) NOT NULL,
	[HO] [varchar](40) NULL,
	[TEN] [varchar](10) NULL,
	[NGSINH] [smalldatetime] NULL,
	[GIOITINH] [varchar](3) NULL,
	[NOISINH] [varchar](40) NULL,
	[MALOP] [char](3) NULL,
 CONSTRAINT [PK_HOCVIEN] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUATHI]    Script Date: 11/22/2022 10:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUATHI](
	[MAHV] [char](5) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[LANTHI] [tinyint] NOT NULL,
	[NGTHI] [smalldatetime] NULL,
	[DIEM] [numeric](4, 2) NULL,
	[KQUA] [varchar](10) NULL,
 CONSTRAINT [PK_KETQUATHI] PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC,
	[MAMH] ASC,
	[LANTHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/22/2022 10:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [varchar](4) NOT NULL,
	[TENKHOA] [varchar](40) NULL,
	[NGTLAP] [smalldatetime] NULL,
	[TRGKHOA] [char](4) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/22/2022 10:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](3) NOT NULL,
	[TENLOP] [varchar](40) NULL,
	[TRGLOP] [char](5) NULL,
	[SISO] [tinyint] NULL,
	[MAGVCN] [char](4) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 11/22/2022 10:36:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [varchar](40) NULL,
	[TCLT] [tinyint] NULL,
	[TCTH] [tinyint] NULL,
	[MAKHOA] [varchar](4) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DIEUKIEN] ([MAMH], [MAMH_TRUOC]) VALUES (N'CSDL', N'CTDLGT')
INSERT [dbo].[DIEUKIEN] ([MAMH], [MAMH_TRUOC]) VALUES (N'CSDL', N'CTRR')
INSERT [dbo].[DIEUKIEN] ([MAMH], [MAMH_TRUOC]) VALUES (N'CTDLGT', N'THDC')
GO
INSERT [dbo].[GIANGDAY] ([MALOP], [MAMH], [MAGV], [HOCKY], [NAM], [TUNGAY], [DENNGAY]) VALUES (N'K11', N'CSDL', N'GV05', 2, 2006, CAST(N'2006-06-01T00:00:00' AS SmallDateTime), CAST(N'2006-07-15T00:00:00' AS SmallDateTime))
INSERT [dbo].[GIANGDAY] ([MALOP], [MAMH], [MAGV], [HOCKY], [NAM], [TUNGAY], [DENNGAY]) VALUES (N'K11', N'CTDLGT', N'GV15', 3, 2006, CAST(N'2006-08-01T00:00:00' AS SmallDateTime), CAST(N'2006-12-15T00:00:00' AS SmallDateTime))
INSERT [dbo].[GIANGDAY] ([MALOP], [MAMH], [MAGV], [HOCKY], [NAM], [TUNGAY], [DENNGAY]) VALUES (N'K11', N'CTRR', N'GV02', 1, 2006, CAST(N'2006-01-09T00:00:00' AS SmallDateTime), CAST(N'2006-05-17T00:00:00' AS SmallDateTime))
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [HOCVI], [HOCHAM], [GIOITINH], [NGSINH], [NGVL], [HESO], [MUCLUONG], [MAKHOA]) VALUES (N'GV01', N'Ho Thanh Son', N'PTS', N'GS', N'Nam', CAST(N'1950-05-02T00:00:00' AS SmallDateTime), CAST(N'2004-01-11T00:00:00' AS SmallDateTime), CAST(5.00 AS Numeric(4, 2)), 2250000.0000, N'KHMT')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [HOCVI], [HOCHAM], [GIOITINH], [NGSINH], [NGVL], [HESO], [MUCLUONG], [MAKHOA]) VALUES (N'GV02', N'Tran Tam Thanh', N'TS', N'PGS', N'Nam', CAST(N'1965-12-17T00:00:00' AS SmallDateTime), CAST(N'2004-04-20T00:00:00' AS SmallDateTime), CAST(4.50 AS Numeric(4, 2)), 2025000.0000, N'HTTT')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [HOCVI], [HOCHAM], [GIOITINH], [NGSINH], [NGVL], [HESO], [MUCLUONG], [MAKHOA]) VALUES (N'GV03', N'Do Nghiem Phung', N'TS', N'GS', N'Nu', CAST(N'1950-08-01T00:00:00' AS SmallDateTime), CAST(N'2004-09-23T00:00:00' AS SmallDateTime), CAST(4.00 AS Numeric(4, 2)), 1800000.0000, N'CNPM')
GO
INSERT [dbo].[HOCVIEN] ([MAHV], [HO], [TEN], [NGSINH], [GIOITINH], [NOISINH], [MALOP]) VALUES (N'K1101', N'Nguyen Van', N'A', CAST(N'1986-01-27T00:00:00' AS SmallDateTime), N'Nam', N'TpHCM', N'K11')
INSERT [dbo].[HOCVIEN] ([MAHV], [HO], [TEN], [NGSINH], [GIOITINH], [NOISINH], [MALOP]) VALUES (N'K1102', N'Tran Ngoc', N'Han', CAST(N'1986-03-01T00:00:00' AS SmallDateTime), N'Nu', N'Kien Giang', N'K11')
INSERT [dbo].[HOCVIEN] ([MAHV], [HO], [TEN], [NGSINH], [GIOITINH], [NOISINH], [MALOP]) VALUES (N'K1103', N'Ha Duy', N'Lap', CAST(N'1986-04-18T00:00:00' AS SmallDateTime), N'Nam', N'Nghe An', N'K11')
GO
INSERT [dbo].[KETQUATHI] ([MAHV], [MAMH], [LANTHI], [NGTHI], [DIEM], [KQUA]) VALUES (N'K1101', N'CSDL', 1, CAST(N'2006-07-20T00:00:00' AS SmallDateTime), CAST(10.00 AS Numeric(4, 2)), N'Dat')
INSERT [dbo].[KETQUATHI] ([MAHV], [MAMH], [LANTHI], [NGTHI], [DIEM], [KQUA]) VALUES (N'K1101', N'CTDLGT', 1, CAST(N'2006-12-28T00:00:00' AS SmallDateTime), CAST(9.00 AS Numeric(4, 2)), N'Dat')
INSERT [dbo].[KETQUATHI] ([MAHV], [MAMH], [LANTHI], [NGTHI], [DIEM], [KQUA]) VALUES (N'K1101', N'CTRR', 1, CAST(N'2006-05-13T00:00:00' AS SmallDateTime), CAST(9.50 AS Numeric(4, 2)), N'Dat')
GO
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NGTLAP], [TRGKHOA]) VALUES (N'CNPM', N'Cong nghe phan mem', CAST(N'2005-06-07T00:00:00' AS SmallDateTime), N'GV04')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NGTLAP], [TRGKHOA]) VALUES (N'HTTT', N'He thong thong tin', CAST(N'2005-06-07T00:00:00' AS SmallDateTime), N'GV02')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NGTLAP], [TRGKHOA]) VALUES (N'KHMT', N'Khoa hoc may tinh', CAST(N'2005-06-07T00:00:00' AS SmallDateTime), N'GV01')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [TRGLOP], [SISO], [MAGVCN]) VALUES (N'K11', N'Lop 1 khoa 1', N'K1108', 11, N'GV07')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [TRGLOP], [SISO], [MAGVCN]) VALUES (N'K12', N'Lop 2 khoa 1', N'K1205', 12, N'GV09')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [TRGLOP], [SISO], [MAGVCN]) VALUES (N'K13', N'Lop 3 khoa 1', N'K1305', 12, N'GV14')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [TCLT], [TCTH], [MAKHOA]) VALUES (N'CSDL', N'Co so du lieu', 3, 1, N'HTTT')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [TCLT], [TCTH], [MAKHOA]) VALUES (N'CTDLGT', N'Cau truc du lieu va giai thuat', 3, 1, N'KHMT')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [TCLT], [TCTH], [MAKHOA]) VALUES (N'CTRR', N'Cau truc roi rac', 5, 0, N'KHMT')
GO
ALTER TABLE [dbo].[GIANGDAY]  WITH CHECK ADD  CONSTRAINT [FK_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[GIANGDAY] CHECK CONSTRAINT [FK_MAMH]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_MAKHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_MAKHOA]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD  CONSTRAINT [FK_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCVIEN] CHECK CONSTRAINT [FK_LOP]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_MAGVCN] FOREIGN KEY([MAGVCN])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_MAGVCN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_TRGLOP] FOREIGN KEY([TRGLOP])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_TRGLOP]
GO
USE [master]
GO
